body {
    margin: 0px;
    padding: 0px;
    font-family: Ebrima;
}

nav {
    background-color: #320792;
    position: fixed!important;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-radius: 0px!important;
    height: 5em;
    animation-name: navbar-init;
    animation-duration: 2s;
}

.navbar-nav .hover-nav-a:hover {
    color: #007bff!important;
}
.content {
    position: relative;
    top: 0;
    left: 0;
}

.logo-php {
    width: 5em;
}

.line-small {
    width: 4em;
    background-color: black;
}

.m-auto {
    margin: 0 auto;
}

.bar-user-logged {
    background-color: #E0E2FF;
}

.welcome-user{
    padding: 6px 12px 6px 12px;
}
.deco-btn:hover {
    color: white!important;
}
.wave-ui {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    position: relative;
    z-index: 100;
}

.main-app{
    position: relative;
    width: 100%;
    padding-top: 3em;
}

.fa-user {
    margin-top: 0.7em;
    cursor: pointer;
}

.no-op {
    opacity: 0;
}

.menu-scroll-user {
    position: absolute;
    z-index: 100;
    right: 1em;
    top: 4em;
}

.user-display-menu:hover > .menu-scroll-user  {
    opacity: 1;
    display: block;
}
.home-button {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.2em;
    color: white!important;
    text-align: center;
}

.li-no-style {
    list-style: none;
}

@keyframes navbar-reduct {
    from {  height: 5em }
    to {  height: 3.5em }
}

@keyframes navbar-init {
    from {  height: 3.5em }
    to {  height: 5em }
}

.nav-reduct {
    animation-name: navbar-reduct;
    animation-duration: 2s;
    height: 3.5em;
}

.nav-reduct-logo {
    width: 2.7em;
    height: 2.7em;
}


@media screen and (max-width: 992px) {

    #navbarNav {
        justify-content: flex-start !important;
    }

    .user-menu {
        padding: 0px;
    }
}


/* ERROR PAGE 404 , ....*/

.error404 {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error404 h1 {
    color: red;
}