.content-article {
    margin-top: 2em;
}


.image-article-content {
    margin-top: 2em;
}

.image-article {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-article-content {
    width: 65%;
    margin: 0 auto;
    margin-top: 2em;
}

.title-article {
    background-color: #F5E820;
    width: 40%;
    margin: 0 auto;
}

.text-article {
    word-spacing: 4px;
}

@media screen and (max-width: 992px) {

    .card {
        width: 95%;
    }

    .image-article {
        width: 100%;
    }

    .text-article-content {
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .title-article {
        width: 100%;
    }

}