.title-articles {
    font-family: Pacifico;
    margin-top: 2em;
}

.content-articles ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.content-articles ul li {
    list-style: none;
    flex: 0 0 33.333333%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content-framework-section {
    margin-top: 16em;
}

.advisor {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.icons-framework-section{
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
}

.card-section {
    width: 12em;
    height: 12em;
    border: white 1px solid;
    background-color: white;
    text-align: center;
    border-radius: 1em;
}

.card-section:hover {
    color: white;
    background-color: #007bff;
}

.icon-framework{
    font-size: 5em;
    margin-top: 0.2em;
}

.title-icon-framework {
    margin-top: 2em;
    font-size: 1.4em;
    width: 100%;
}

@media screen and (max-width: 750px) {

    .wave-ui-2{
        display: none;
    }
    .icons-framework-section{
        margin-top: 10em;
    }
}