.title-articles {
    font-family: Pacifico;
    margin-top: 2em;
}

.div-content-form {
    width: 50%;
}

@media screen and (max-width: 992px) {

    .div-content-form {
        width: 100%;
    }
}